<ng-container [formGroup]="formGroup">
  <mat-form-field
    appMatLabelScroll
    floatLabel="always"
    [ngStyle]="
      formFieldColor
        ? { '--mdc-filled-text-field-container-color': formFieldColor }
        : {}
    "
  >
    <mat-label *ngIf="formGroup.get(alias)?.valid">{{ placeholder }}</mat-label>
    <mat-label *ngIf="formGroup.get(alias)?.invalid">{{
      getError()
    }}</mat-label>
    <input
      matInput
      [formControlName]="alias"
      [placeholder]="placeholder"
      (blur)="action && action(alias, formGroup)"
    /> </mat-form-field
></ng-container>
