<ng-container *ngIf="isMulti !== null && !loading" [formGroup]="formGroup">
  <mat-form-field floatLabel="always" [class]="className" style="width: auto">
    <mat-label>{{ placeholder }}</mat-label>
    <mat-select
      [formControlName]="alias"
      placeholder="search"
      [multiple]="isMulti"
      (closed)="action && action(alias, formGroup)"
      (click) = "startLoadingOptions()"
    >
      <mat-option>
        <ngx-mat-select-search
          placeholderLabel="Search"
          noEntriesFoundLabel="No records!"
          [formControlName]="alias + PREFIX"
        >
        </ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let entry of options | async" [value]="entry">
        {{ entry }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-container>
