<ng-container *ngIf="isMulti !== null" [formGroup]="formGroup">
  <mat-form-field
    floatLabel="always"
    [class]="className"
    style="width: auto"
    [ngStyle]="
      formFieldColor
        ? { '--mdc-filled-text-field-container-color': formFieldColor }
        : {}
    "
    (click)="startLoadingOptions()"
  >
    <mat-label>{{ placeholder }}</mat-label>
    <mat-select
      [formControlName]="alias"
      placeholder="search"
      [multiple]="isMulti"
      (closed)="action && action(alias, formGroup)"
      iScroll
      (infiniteScroll)="scrollEnd()"
      threshold="5"
      [debounceTime]="700"
      [restoreScroll]="restoreScroll"
    >
      <mat-option>
        <ngx-mat-select-search
          placeholderLabel="Search"
          noEntriesFoundLabel="No records!"
          [formControlName]="alias + PREFIX"
        >
        </ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let entry of options | async" [value]="entry">
        {{ entry }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-container>
