<ng-container [formGroup]="formGroup">
  <mat-form-field floatLabel="always">
    <mat-label>{{ placeholder }}</mat-label>
    <mat-select
      *ngIf="isMulti !== null"
      [formControlName]="alias"
      placeholder="search"
      [multiple]="isMulti"
    >
      <mat-option>
        <ngx-mat-select-search
          placeholderLabel="Search"
          noEntriesFoundLabel="No records!"
          [formControlName]="PREFIX + alias"
        >
        </ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let entry of options | async" [value]="entry">
        {{ entry }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-container>
