<div *ngIf="detail">
  <div class="form-constructor-control">
    <div class="form-constructor-wrapper">
      <ng-container *ngFor="let tileControl of tileOps.tileFormFields">
        <ng-container
          *ngTemplateOutlet="
            tileControlTpl;
            context: {
              tileControl: tileControl,
              formGroup: tileOps.tileFormGroup
            }
          "
        ></ng-container>
      </ng-container>

      <div>
        <mat-slide-toggle
          matTooltip="Turn form constructor on/off"
          matTooltipPosition="above"
          [checked]="enableFormConstructor"
          (change)="toggleFormConstructor($event)"
        >
          {{ "Form Constructor " + (enableFormConstructor ? "ON" : "OFF") }}
        </mat-slide-toggle>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="form-constructor-main">
      <div
        class="form-container"
        [style.height]="rowHeight * colQty + 'px'"
        cdkDropListGroup
      >
        <ng-container
          *ngFor="let row of drawMatrix.drawMatrix; let rowIndex = index"
        >
          <ng-container *ngFor="let col of row; let colIndex = index">
            <div
              [contextMenuTriggerFor]="
                enableFormConstructor ? anchorPointMenu : null
              "
              (contextmenu)="
                setCurrentRowColumnForContextMenu(rowIndex, colIndex)
              "
            >
              @if (drawMatrix.drawMatrix[rowIndex][colIndex]) {

              <ng-container
                *ngIf="
                  drawMatrix.tiles.get(
                    drawMatrix.drawMatrix[rowIndex][colIndex]
                  ) as tile
                "
              >
                <div
                  *ngIf="
                    tile.colIndex === colIndex && tile.rowIndex === rowIndex
                  "
                  [ngClass]="
                    'tile ' + (enableFormConstructor && 'tile-visibility')
                  "
                  cdkDropListOrientation="horizontal"
                  cdkDropList
                  [cdkDropListData]="tile.cdkDropListData"
                  (cdkDropListDropped)="tileOps.drop($event)"
                  [ngStyle]="getTilePositionStyles(rowIndex, colIndex, tile)"
                >
                <div *ngIf="tile.cdkDropListData.length" class="form-item-separator"></div>
                  <ng-container
                    *ngFor="let f of tile.cdkDropListData; let last = last"
                  >
                    <div
                      cdkDrag
                      (cdkDragStarted)="tileOps.startDrag()"
                      (cdkDragEnded)="tileOps.endDrag()"
                      [cdkDragDisabled]="!enableFormConstructor"
                      class="form-item"
                      [contextMenuTriggerFor]="
                        enableFormConstructor ? menu : null
                      "
                      (contextmenu)="
                        setCurrentFormElementForContextMenu(f);
                        $event.stopPropagation()
                      "
                    >
                      <base-input
                        *ngIf="f.mainControl?.type === CONTROL_TYPE.INPUT"
                        [alias]="f.alias"
                        [placeholder]="f.placeholder"
                        [formGroup]="formGroup"
                        [formFieldColor]="f.color || ''"
                      />
                      <base-select
                        *ngIf="f.mainControl?.type === CONTROL_TYPE.SELECT"
                        [alias]="f.alias"
                        [placeholder]="f.placeholder"
                        [controllerPath]="controllerPath"
                        [formGroup]="formGroup"
                        [dependentAliases]="
                          f.mainControl?.dependentAliases || []
                        "
                        [formFieldColor]="f.color || ''"
                      />
                      <base-checkbox
                        *ngIf="f.mainControl?.type === CONTROL_TYPE.BOOLEAN"
                        [alias]="f.alias"
                        [formGroup]="formGroup"
                        [placeholder]="f.placeholder"
                        [outputStringValue]="f.cell && f.cell(detail)"
                      />
                      <base-date-picker
                        *ngIf="f.mainControl?.type === CONTROL_TYPE.DATE_INPUT"
                        [alias]="f.alias"
                        [formGroup]="formGroup"
                        [placeholder]="f.placeholder"
                        [formFieldColor]="f.color || ''"
                      />
                      <base-text-field
                        *ngIf="f.mainControl?.type === CONTROL_TYPE.TEXT"
                        [alias]="f.alias"
                        [placeholder]="f.placeholder"
                        [formGroup]="formGroup"
                        [formFieldColor]="f.color || ''"
                      />
                    </div>
                    <div class="form-item-separator"></div>
                  </ng-container>
                </div>
              </ng-container>
              } @else {
              <div
                *ngIf="enableFormConstructor"
                class="anchor-point"
                [ngStyle]="getAnchorPointPositionStyles(rowIndex, colIndex)"
              >
                <mat-icon class="anchor-icon">crop_free</mat-icon>
              </div>
              }
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div *ngIf="!enableFormConstructor" class="form-control-elements">
      <button mat-fab extended (click)="formActions.saveAction()">
        <mat-icon>save_as</mat-icon>
        UPDATE FORM
      </button>
    </div>
  </div>
</div>

<mat-menu #menu>
  <ng-template matMenuContent>
    <ng-container [ngTemplateOutlet]="actions"></ng-container>
  </ng-template>
</mat-menu>

<ng-template #actions>
  @for (action of formContextMenuActions.allActions; track action; ) {
  <div class="contextMenu">
    <base-checkbox
      (click)="$event.stopPropagation()"
      *ngIf="action.appEntity?.mainControl?.type === CONTROL_TYPE.BOOLEAN"
      [alias]="action.appEntity?.alias || ''"
      [formGroup]="formContextMenuActions.formContextMenuFormGroup"
      [placeholder]="action.description"
      [action]="action.appEntity?.action"
    />
    <base-input
      (click)="$event.stopPropagation()"
      *ngIf="action.appEntity?.mainControl?.type === CONTROL_TYPE.INPUT"
      [alias]="action.appEntity?.alias || ''"
      [placeholder]="action.description"
      [formGroup]="formContextMenuActions.formContextMenuFormGroup"
      [action]="action.appEntity?.action"
    />
  </div>
  }
</ng-template>

<mat-menu #anchorPointMenu>
  <ng-template matMenuContent>
    <ng-container [ngTemplateOutlet]="anchorPointActions"></ng-container>
  </ng-template>
</mat-menu>

<ng-template #anchorPointActions>
  <div style="display: flex; justify-content: center">
    <div style="width: 85%">
      <ng-container
        *ngFor="
          let tileControl of anchorPointContextMenuActions.anchorPointFields
        "
      >
        <ng-container
          *ngTemplateOutlet="
            tileControlTpl;
            context: {
              tileControl: tileControl,
              formGroup: anchorPointContextMenuActions.anchorPointFormGroup
            }
          "
        ></ng-container>
      </ng-container>
    </div>
  </div>

  @for (action of anchorPointContextMenuActions.allActions; track action; ) {
  <div *ngIf="action.getShowCondition()" class="contextMenu">
    <button
      mat-menu-item
      (click)="action.getAction()"
      style="margin-right: 10px"
    >
      <mat-icon [ngStyle]="{ color: action.color }">{{ action.icon }}</mat-icon>
      <span>{{ action.description }}</span>
    </button>
  </div>
  }
</ng-template>

<ng-template
  #tileControlTpl
  let-tileControl="tileControl"
  let-formGroup="formGroup"
>
  <base-select
    (click)="$event.stopPropagation()"
    *ngIf="tileControl.mainControl?.type === CONTROL_TYPE.SELECT"
    [alias]="tileControl.alias"
    [placeholder]="tileControl.placeholder"
    [formGroup]="formGroup"
    [filterLocalSource]="tileControl.mainControl?.filterLocalSource"
    [action]="tileControl.action"
  />
  <base-input
    (click)="$event.stopPropagation()"
    *ngIf="tileControl.mainControl?.type === CONTROL_TYPE.INPUT"
    [alias]="tileControl.alias"
    [formGroup]="formGroup"
    [placeholder]="tileControl.placeholder"
  />
</ng-template>
