<div *ngIf="detail">
  <div class="form-constructor-control">
    <div class="form-constructor-wrapper">
      <div class="button-group">
        <button
          mat-mini-fab
          color="warn"
          matTooltip="Clear all tiles"
          matTooltipPosition="above"
          (click)="
            tileOps.clearAllTiles(
              anchorPointContextMenuActions.anchorPointFormGroup,
              anchorPointContextMenuActions.formFieldsOnOffAlias
            )
          "
          [disabled]="!drawMatrix.tiles.size || !enableFormConstructor"
        >
          <mat-icon>delete_sweep</mat-icon>
        </button>
      </div>
      <div>
        <mat-slide-toggle
          matTooltip="Turn form constructor on/off"
          matTooltipPosition="above"
          [checked]="enableFormConstructor"
          (change)="toggleFormConstructor($event)"
        >
          {{ "Form Constructor " + (enableFormConstructor ? "ON" : "OFF") }}
        </mat-slide-toggle>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="form-constructor-main">
      <div class="form-container" [style.height]="rowHeight * colQty + 'px'">
        <ng-container
          *ngFor="let row of drawMatrix.drawMatrix; let rowIndex = index"
        >
          <ng-container *ngFor="let col of row; let colIndex = index">
            <div
              [contextMenuTriggerFor]="
                enableFormConstructor ? anchorPointMenu : null
              "
              (contextmenu)="
                setCurrentRowColumnForContextMenu(rowIndex, colIndex)
              "
            >
              @if (drawMatrix.drawMatrix[rowIndex][colIndex]) {

              <ng-container
                *ngIf="
                  drawMatrix.tiles.get(
                    drawMatrix.drawMatrix[rowIndex][colIndex]
                  ) as tile
                "
              >
                <div
                  *ngIf="
                    tile.colIndex === colIndex && tile.rowIndex === rowIndex
                  "
                  [id]="tile.id.toString()"
                  cdkDrag
                  (cdkDragStarted)="startTileDrag(tile)"
                  (cdkDragEnded)="endTileDrag()"
                  [cdkDragDisabled]="!enableFormConstructor"
                  [ngClass]="
                    'tile ' + (enableFormConstructor && 'tile-visibility')
                  "
                  cdkDropListOrientation="horizontal"
                  cdkDropList
                  [cdkDropListData]="tile.cdkDropListData"
                  (cdkDropListDropped)="tileOps.dropField($event)"
                  [cdkDropListConnectedTo]="getConnectedTiles()"
                  [ngStyle]="getTilePositionStyles(rowIndex, colIndex, tile)"
                >
                  <ng-container
                    *ngFor="
                      let f of tile.cdkDropListData;
                      let i = index;
                      let last = last
                    "
                  >
                    <div
                      *ngIf="i === 0"
                      class="form-item-separator"
                      [ngStyle]="{
                        width:
                          (enableFormConstructor ? 2 : 1) *
                            multiplier *
                            tileMargin +
                          'px'
                      }"
                    ></div>
                    <div
                      cdkDrag
                      (cdkDragStarted)="startFieldDrag()"
                      (cdkDragEnded)="endFieldDrag()"
                      [cdkDragDisabled]="!enableFormConstructor"
                      class="form-item"
                      [contextMenuTriggerFor]="
                        enableFormConstructor ? menu : null
                      "
                      (contextmenu)="
                        setCurrentFormElementForContextMenu(f);
                        $event.stopPropagation()
                      "
                    >
                      <base-input
                        *ngIf="f.mainControl?.type === CONTROL_TYPE.INPUT"
                        [alias]="f.alias"
                        [placeholder]="f.placeholder"
                        [formGroup]="formGroup"
                        [formFieldColor]="f.color || ''"
                      />
                      <base-select
                        *ngIf="f.mainControl?.type === CONTROL_TYPE.SELECT"
                        [alias]="f.alias"
                        [placeholder]="f.placeholder"
                        [controllerPath]="controllerPath"
                        [formGroup]="formGroup"
                        [dependentAliases]="
                          f.mainControl?.dependentAliases || []
                        "
                        [formFieldColor]="f.color || ''"
                      />
                      <base-checkbox
                        *ngIf="f.mainControl?.type === CONTROL_TYPE.BOOLEAN"
                        [alias]="f.alias"
                        [formGroup]="formGroup"
                        [placeholder]="f.placeholder"
                        [outputStringValue]="f.cell && f.cell(detail)"
                      />
                      <base-date-picker
                        *ngIf="f.mainControl?.type === CONTROL_TYPE.DATE_INPUT"
                        [alias]="f.alias"
                        [formGroup]="formGroup"
                        [placeholder]="f.placeholder"
                        [formFieldColor]="f.color || ''"
                      />
                      <base-text-field
                        *ngIf="f.mainControl?.type === CONTROL_TYPE.TEXT"
                        [alias]="f.alias"
                        [placeholder]="f.placeholder"
                        [formGroup]="formGroup"
                        [formFieldColor]="f.color || ''"
                      />
                    </div>
                    <div
                      class="form-item-separator"
                      [ngStyle]="{
                        width:
                          (last
                            ? (enableFormConstructor ? 2 : 1) *
                              multiplier *
                              tileMargin
                            : (enableFormConstructor ? 4 : 2) *
                              multiplier *
                              tileMargin) + 'px'
                      }"
                    ></div>
                  </ng-container>
                </div>
              </ng-container>
              } @else {
              <div
                *ngIf="enableFormConstructor"
                (mouseup)="setCurrentRowColumnForTileDrag(rowIndex, colIndex)"
                class="anchor-point"
                [ngStyle]="getAnchorPointPositionStyles(rowIndex, colIndex)"
              >
                <mat-icon class="anchor-icon">control_camera</mat-icon>
              </div>
              }
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div *ngIf="!enableFormConstructor" class="form-control-elements">
      <button mat-fab extended (click)="formActions.saveAction()">
        <mat-icon>save_as</mat-icon>
        UPDATE FORM
      </button>
    </div>
  </div>
</div>

<mat-menu #menu>
  @for (action of formContextMenuActions.allActions; track action; ) {
  <div class="contextMenu">
    <base-checkbox
      (click)="$event.stopPropagation()"
      *ngIf="action.appEntity?.mainControl?.type === CONTROL_TYPE.BOOLEAN"
      [alias]="action.appEntity?.alias || ''"
      [formGroup]="formContextMenuActions.formContextMenuFormGroup"
      [placeholder]="action.description"
      [action]="action.appEntity?.action"
    />
    <base-input
      (click)="$event.stopPropagation()"
      *ngIf="action.appEntity?.mainControl?.type === CONTROL_TYPE.INPUT"
      [alias]="action.appEntity?.alias || ''"
      [placeholder]="action.description"
      [formGroup]="formContextMenuActions.formContextMenuFormGroup"
      [action]="action.appEntity?.action"
    />
  </div>
  }
</mat-menu>

<ng-template #actions> </ng-template>

<mat-menu #anchorPointMenu>
  <div class="anchor-point-menu" style="padding: 12px">
    <div *ngIf="showTileExistsCondition()" class="anchor-point-menu">
      <div class="directions">
        <div style="display: flex; justify-content: center">
          <button
            mat-icon-button
            (click)="
              tileOps.moveTileUp(
                anchorPointContextMenuActions.rowIndex,
                anchorPointContextMenuActions.colIndex
              )
            "
          >
            <mat-icon>arrow_upward</mat-icon>
          </button>
        </div>
        <div style="display: flex; justify-content: space-between">
          <button
            mat-icon-button
            (click)="
              tileOps.moveTileLeft(
                anchorPointContextMenuActions.rowIndex,
                anchorPointContextMenuActions.colIndex
              )
            "
            style="margin-right: 20px"
          >
            <mat-icon>arrow_back</mat-icon>
          </button>

          <button
            mat-icon-button
            (click)="
              tileOps.moveTileRight(
                anchorPointContextMenuActions.rowIndex,
                anchorPointContextMenuActions.colIndex
              )
            "
            style="margin-left: 20px"
          >
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
        <div style="display: flex; justify-content: center">
          <button
            mat-icon-button
            (click)="
              tileOps.moveTileDown(
                anchorPointContextMenuActions.rowIndex,
                anchorPointContextMenuActions.colIndex
              )
            "
          >
            <mat-icon>arrow_downward</mat-icon>
          </button>
        </div>
      </div>
      <base-select
        (click)="$event.stopPropagation()"
        [alias]="anchorPointContextMenuActions.formFieldsOnOffField.alias"
        [placeholder]="
          anchorPointContextMenuActions.formFieldsOnOffField.placeholder
        "
        [formGroup]="anchorPointContextMenuActions.anchorPointFormGroup"
        [filterLocalSource]="
          anchorPointContextMenuActions.formFieldsOnOffField.mainControl
            ?.filterLocalSource
        "
        [action]="anchorPointContextMenuActions.formFieldsOnOffField.action"
      />
    </div>

    <div class="anchor-point-menu">
      <ng-container
        *ngFor="
          let tileControl of anchorPointContextMenuActions.anchorPointFields
        "
      >
        <base-input
          (click)="$event.stopPropagation()"
          *ngIf="tileControl.mainControl?.type === CONTROL_TYPE.INPUT"
          [alias]="tileControl.alias"
          [formGroup]="anchorPointContextMenuActions.anchorPointFormGroup"
          [placeholder]="tileControl.placeholder"
        />
      </ng-container>
    </div>
  </div>

  @for (action of anchorPointContextMenuActions.allActions; track action; ) {
  <div *ngIf="action.getShowCondition()" class="contextMenu">
    <button
      mat-menu-item
      (click)="action.getAction()"
      style="margin-right: 10px"
    >
      <mat-icon [ngStyle]="{ color: action.color }">{{ action.icon }}</mat-icon>
      <span>{{ action.getDescription() }}</span>
    </button>
  </div>
  }
</mat-menu>
