.form-constructor-main {
  position: relative;

  ::ng-deep .mat-mdc-form-field-infix {
    width: auto !important;
    height: 100% !important;
  }

  ::ng-deep .mat-mdc-form-field {
    width: 100% !important;
    height: 100% !important;
  }
}

.form-constructor-control {
  height: 100%;
  position: sticky;
  z-index: 1;
  margin-top: 15px;
}

.form-constructor-wrapper {
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.form-item {
  flex: 1;
  height: 100%;
}

.form-item-separator {
  // Needs to fix displaying form fields in the tile. Scaling mat-select elements changes
  // its initial size and we get white lines on top and bottom
  height: 100%;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 8px;
}

.cdk-drag-placeholder {
  opacity: 0.2;
}

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.3, 1);
}

.form-container.cdk-drop-list-dragging .form-item:not(.cdk-drag-placeholder) {
  transition: transform 300ms cubic-bezier(0, 0, 0.3, 1);
}

.tile-visibility {
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  background-color: #dadbdd;
}

::ng-deep {
  .tile {
    z-index: 1000;
    position: absolute;
    display: flex;
    mat-form-field {
      display: flex;
      flex-grow: 1;
      .mat-mdc-form-field-flex,
      .mat-mdc-form-field-infix,
      textarea {
        height: 100% !important;
      }
    }
  }
}

.form-control-elements {
  padding: 15px;
  display: flex;
  justify-content: right;
}

.anchor-point {
  position: absolute;
}

.contextMenu {
  padding-right: 20px;
  padding-left: 15px;
}

.anchor-icon {
  opacity: 0.24;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.15s ease-in-out;
  transform-origin: center;
}

.anchor-point:hover .anchor-icon {
  transform: translate(-50%, -50%) scale(1.9);
}

.directions {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.anchor-point-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
