<mat-tab-group animationDuration="500ms" *ngIf="!!detailId">
  <mat-tab label="Student Form Data">
    <ng-template matTabContent>
      <student-form [detailId]="detailId" />
    </ng-template>
  </mat-tab>
  <mat-tab label="Associated professors">
    <ng-template matTabContent>
      <professors-data-table
        [masterId]="detailId"
        [masterType]="masterType"
        [allowedActions]="allowedActions"
        tableName="professors_table_in_students"
      />
    </ng-template>
  </mat-tab>
</mat-tab-group>
