<mat-tab-group animationDuration="500ms" *ngIf="!!detailId">
  <mat-tab label="Professor Form Data">
    <ng-template matTabContent>
      <professor-form [detailId]="detailId" />
    </ng-template>
  </mat-tab>
  <mat-tab label="Assosiated students">
    <ng-template matTabContent>
      <students-data-table
        [masterId]="detailId"
        [masterType]="masterType"
        [allowedActions]="allowedActions"
        tableName="students_table_in_professors"
      />
    </ng-template>
  </mat-tab>
</mat-tab-group>
