.table-header {
  @extend .center-content;
  padding-top: 4%;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-buttons {
  margin-left: 2%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .main-table {
    width: 100%;
    position: relative;
    flex: 1;
    overflow: auto;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid gainsboro;
    th,
    td {
      border: 1px solid gainsboro;
    }
    .sort-div {
      width: 40px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .bottom-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 10px;
    background-color: #f0f0f0;
  }
}

.mat-mdc-table .mat-mdc-row:nth-child(even) {
  background-color: #f0f0f0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 8px;
  opacity: 0.3;
}

.cdk-drag-placeholder {
  opacity: 0.3;
}

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.3, 1);
}
